<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User Login and Sessions</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-app="app">
  <profile></profile>

  <form method="POST" action="/users/user/delete">
    <input type="submit" id="delete" value="Delete User">
  </form>

  <hr>

  <span id="userMsg">
    <%= msg %>
  </span>

  <a id="homeLink" href="/">Home</a>
  <script src="http://code.angularjs.org/1.5.6/angular.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/userService.js"></script>
  <script src="/javascripts/profile.js"></script>
</body>

</html>